:root {
  --body-width: 992px;
  --text-width: 100%;
  --bg-body: white;
  --bg-block: #f9f9f9;
  /* h1的背景图颜色 */
  --border-color: #ddd;
  --box-shadow: 5px 5px 5px #eee;
  /* 标题颜色 */
  --main-title-color: #ffffff;
  /* 作者发布日期\文章内容、背景颜色 */
  --meta-info-color: #888;
  --article-body-color: #d9dde0;
  --article-background-color: #211f1e;
  /* 名言警句颜色 */
  --aphorisms-color: #e7e9eb;
  --aphorisms-logo-color: #feffff;

  --body-background-color: #18181c;
  /* 轮播图标题大小 */
  --lem: calc(10px + .6vw);
  --bc10: hsl(210, 8%, 70%);
  /* 文章p标签大小 */
  --gqui-mb: 24px;

  --theme-color-rgb: 94, 186, 125;
  --primary-rgb: 94, 186, 125;

  --photo-gird-color: #3b3939;

  --n-bezier: cubic-bezier(.4, 0, .2, 1);


  /* 从新定义 =================================================20240406*/

  /* 背景颜色 */
  --r-bg-main: #18181c;
  /*主体背景色*/
  --r-bg-content: #20211e;
  /*container背景色*/
  --r-bg-input: #373835;
  /*输入框背景色*/

  /* 字体颜色 D1表示透明度 00-ff透明-不透明*/
  --r-text-color: #ffffffD1;
  --r-title-color: #ffffffD1;
  /* 次要颜色-主标题下面的描述 */
  --r-secondary-color: #acb3b9;


  /* 字体大小 xs小  md中   lg大 */
  --r-font-xs: calc(1.2 * var(--lem));
  --r-font-md: calc(2.4 * var(--lem));
  --r-font-lg: 1.4em;

  /* 间距 */
  --r-space-xs: calc(0.25em + 4px);
  --r-space-md: calc(0.5em + 8px);
  --r-space-lg: calc(1em + 16px);

  /* 行高 */
  --r-lineh-compact: 1.3;
  --r-lineh-normal: 1.6;
  --r-lineh-loose: 1.2;

  /* 断点 */
  --r-size-xs: 768px;






}

:root {
  box-sizing: border-box;
  /* font-size:calc(0.5em+1vw); */
}

::before,
::after {
  box-sizing: inherit；
}